# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
weiiszablon.aux

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Keep environment variables out of version control
.env

/App/Backend/import
/App/Backend/ssl
/figures
/auxiliary
weiiszablon.toc
weiiszablon.tex
weiiszablon.synctex.gz
weiiszablon.sty
weiiszablon.pdf
weiiszablon.log
weiiszablon.fls
weiiszablon.fdb_latexmk
weiiszablon.aux
